body{
    background-color: azure;
}
h1{
    text-align: center;
}
h2{
    color:white;
}

div{
    background-color: rgb(86, 130, 232);
    width: 600px;
    padding:40px;
    text-align:center
    
}
